:root {
  /* COLORS */
  --theme: #F1F6FE;
  --orange: #E73D00;

  /* SIZING */
  --4px: 0.25rem;
  --8px: 0.5rem;
  --10px: 0.625rem;
  --16px: 1rem;
  --20px: 1.25rem;
  --24px: 1.5rem;
  --32px: 2rem;
  --48px: 3rem;
  --64px: 4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }
}

html {
  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

body {
  background-color: var(--theme);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button,
a {
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 700;
}

button {
  border: none;
  cursor: pointer;
  transition: filter 0.2s;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.page {
  height: 100%;
  padding: 40px 80px;
}
