.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.item {
  color: rgba(0, 14, 34, 0.8);
}

.item:hover {
  color: black;
}
